{% extends "reviewApp/base.html" %}
{% block content %}
<style>
	.text {
  position: relative;
  /*font-size: 14px;*/
  color: black;
  width: 250px; /* Could be anything you like. */
}

.text-concat {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
  line-height: 1.2em;
  text-align:justify;
}

.text.ellipsis::after {
  content: "...";
  position: absolute;
  right: 12px; 
  bottom: 4px;
}
</style>
	
	<h1>Reviews</h1>
	<div class="row">
		<div class="col-md-8">
		{% for review in reviews %}
			<p>{{ review.rating }}</p>
			<p>{{ review.reviewtext }}</p>
		{% endfor %}
		</div>
		<div class="col-md-4">
			<div class="content-section">
				<h3>Lorem Ipsum</h3>
				<p class='text-muted'>
					Lorem ipsum dolor sit amet, iudico docendi inciderint per eu, ea vis scripta senserit periculis. Lorem ipsum dolor sit amet, iudico docendi inciderint per eu, ea vis scripta senserit periculis.
				</p>
			</div>
			<div class="content-section">
				<h3>Lorem Ipsum</h3>
				<p class='text-muted'>
					Lorem ipsum dolor sit amet, iudico docendi inciderint per eu, ea vis scripta senserit periculis. Lorem ipsum dolor sit amet, iudico docendi inciderint per eu, ea vis scripta senserit periculis.
			</div>
		</div>
	</div>

{% endblock content %}
