{% extends "reviewApp/base.html" %}
{% block content %}
	
	<div class="col-md-6" style="float: left;">
		<span>
			<!-- <img class="rounded-square article-img" src="{{object.productphoto.url}}" style="min-width: 150px; min-height: 150px;max-width: 150px; max-height: 150px"> -->
			<h1 class="article-title">{{ object.product }} {{ object.profile }}</h1>
			<h4 class="mr-2">Author: £{{ object.author }}</h4>
			<h4 class="mr-2">Rating: {{ object.rating }}</h4>
			<p class="article-content">{{ object.description }}</p>
		</span>
		<span>
			<!-- Need to check if user already has a review for item, if so they need to see Update Review -->
			<!-- <a class="btn btn-primary" href="{% url 'review-update' object.id %}">Update Review</a> -->
		</span>
	</div>
	<div class="col-md-6" style="float: right;">
	</div>

{% endblock content %}
