{% extends "reviewApp/base.html" %}
{% block content %}
<style>
	.text {
  position: relative;
  /*font-size: 14px;*/
  color: black;
  width: 250px; /* Could be anything you like. */
}

.text-concat {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
  line-height: 1.2em;
  text-align:justify;
}

.text.ellipsis::after {
  content: "...";
  position: absolute;
  right: 12px; 
  bottom: 4px;
}
</style>
	
	<h1>Reviews</h1>

	<div class="col-md-6" style="float: left;">
		{% for review in Reviews %}
		<span>
			<img class="rounded-circle article-img" src="{{ review.profile.profilephoto.url }}" style="min-width: 80px; min-height: 80px;max-width: 80px; max-height: 80px">
			<h1 class="article-title">{{ review.product.brand }} {{ review.product.name }}</h1>
			<h4 class="mr-2">Rating: {{ review.rating }}</h4>
			<p class="article-content">Review: {{ review.reviewtext }}</p>
		</span>
		<span>
			<!-- Need to check if user already has a review for item, if so they need to see Update Review -->
			<!-- <a class="btn btn-primary" href="{% url 'review-create' pk=review.id %}">Create Review</a> -->
		</span>
		{% endfor %}
	</div>


{% endblock content %}
