{% extends "reviewApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-md-6" style="float: left;">
				<div class="media">
					<p>
						<img class="rounded-circle account-img" src="{{user.profile.profilephoto.url}}" style="max-width: 400px; max-height: 400px">
					</p>
					<div class="media-body">
						<h2 class="account-heading">{{user.username}}</h2>
						<p class="text-secondary">{{user.email}}</p>
					</div>
				</div>
			</div>
			<div class="col-md-6" style="float: right;">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ u_form|crispy }}
			</div>
		</div>

		<div>
			<div>
				{{ p_form|crispy }}
			</div>

			<div class="form-group">
				<button class="btn btn-block btn-outline-success" type="submit">Update</button>
			</div>

			</form>
		</div>
	</div>
	<!-- <h1 class="jumbotron">{{ user.username }}</h1> -->

{% endblock content %}