{% extends "reviewApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="content-section">
		<div class="media">
			<p>
				<img class="rounded-circle account-img" src="{{user.profile.profilephoto.url}}" style="max-width: 400px; max-height: 400px">
			</p>
			<div class="media-body">
				<h2 class="account-heading">{{user.profile}}</h2>
				<p class="text-secondary">{{user.username}}</p>
				<p class="text-secondary">{{user.email}}</p>
			</div>
		</div>
	</div>
	<!-- <h1 class="jumbotron">{{ user.username }}</h1> -->

{% endblock content %}